.unicorn{width:7vh;
    height:5vh;
    position:absolute;
    
    background-image: url("unicornImgs/rainbowUnicorn.png");
    background-size:contain;
    background-repeat: no-repeat;
    
}

body{
    background-image: url('unicornImgs/racetrack.jpg');
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    
}
#buttonsAndText{
    position:absolute;
    bottom:1vh;
}
p{
    font-size: 10vh;
    margin:0;
    color:lightsteelblue
    
}
#startButton{
    height:30px;
    background-color: lightgreen;
    

    
}
canvas{
    width:100vw;
    height:100vh;
    
}